In [3]:

import pandas as pd
from clean_tabular_data import DataTabular

data_products = DataTabular('Products.csv')
data_products.clean_price_column()
print(data_products.df.info())
print(data_products.df.head())

UTF-8
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6311 entries, 0 to 6310
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                6311 non-null   int64
 1   id                   6311 non-null   object
 2   product_name         6311 non-null   object
 3   category             6311 non-null   object
 4   product_description  6311 non-null   object
 5   price                6311 non-null   float64
 6   location             6311 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 345.3+ KB
None
   index                                    id  \
0      0  243809c0-9cfc-4486-ad12-3b7a16605ba9
1      1  1c58d3f9-8b93-47ea-9415-204fcc2a22e6
2      2  860673f1-57f6-47ba-8d2f-13f9e05b8f9a
3      3  59948726-29be-4b35-ade5-bb2fd7331856
4     12  5707be4f-49d9-4feb-b2c8-aa0868405c65

                                        product_name  \
0  Mirror wall art | in Wokingham, Berkshire | Gu...
1  Stainless Steel Food Steamer | in Inverness, H...
2  Sun loungers | in Skegness, Lincolnshire | Gum...
3  Coffee side table from Ammunition ammo box hai...
4  Spotlights | in Newent, Gloucestershire | Gumtree

                                            category  \
0  Home & Garden / Dining, Living Room Furniture ...
1              Home & Garden / Other Household Goods
2  Home & Garden / Garden & Patio / Outdoor Setti...
3  Home & Garden / Dining, Living Room Furniture ...
4              Home & Garden / Other Household Goods

                                 product_description  price  \
0  Mirror wall art. Posted by Nisha in Dining, Li...    5.0
1  Morphy Richard’s (model no 48755)Stainless ste...   20.0
2  I have 2 of these - collection only as I don’t...   20.0
3  Great reclaimed army ammunition box used as co...  115.0
4  New in box not needed Spotlights . Posted by s...    9.0

                  location
0     Wokingham, Berkshire
1      Inverness, Highland
2   Skegness, Lincolnshire
3       Radstock, Somerset
4  Newent, Gloucestershire

In [4]:


data_products.df[['cat:0','cat:1','cat:2']] = data_products.df["category"].apply(lambda x: pd.Series(str(x).split(' / ',2)))

In [5]:
cat0_keys = data_products.df['cat:0'].unique()
cat0_encoder = {}
cat0_decoder = {}
for _ in range(len(cat0_keys)):
    cat0_encoder[cat0_keys[_]] = _
    cat0_decoder[_] = cat0_keys[_]

In [26]:
data_images =  DataTabular('Images.csv')
data_images.df.head()
df_with_category = pd.merge(data_images.df,data_products.df,left_on = 'product_id',right_on ='id',how='inner')
df_with_category.info()
df_with_category.rename(columns={'id_x':'label'})
df_with_category.to_csv('training_data.csv')

ASCII
<class 'pandas.core.frame.DataFrame'>
Int64Index: 11122 entries, 0 to 11121
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0                        11122 non-null  object
 1   id_x                 11122 non-null  object
 2   product_id           11122 non-null  object
 3   index                11122 non-null  int64
 4   id_y                 11122 non-null  object
 5   product_name         11122 non-null  object
 6   category             11122 non-null  object
 7   product_description  11122 non-null  object
 8   price                11122 non-null  float64
 9   location             11122 non-null  object
 10  cat:0                11122 non-null  object
 11  cat:1                11122 non-null  object
 12  cat:2                6768 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.2+ MB

{0: 'Home & Garden',
 1: 'Baby & Kids Stuff',
 2: 'DIY Tools & Materials',
 3: 'Music, Films, Books & Games',
 4: 'Phones, Mobile Phones & Telecoms',
 5: 'Clothes, Footwear & Accessories',
 6: 'Other Goods',
 7: 'Health & Beauty',
 8: 'Sports, Leisure & Travel',
 9: 'Appliances',
 10: 'Computers & Software',
 11: 'Office Furniture & Equipment',
 12: 'Video Games & Consoles'}