In [1]:

import pandas as pd
from clean_tabular_data import DataTabular

data_products = DataTabular('Products.csv')
data_products.clean_price_column()
print(data_products.df.info())
print(data_products.df.head())

UTF-8
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6311 entries, 0 to 6310
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                6311 non-null   int64
 1   id                   6311 non-null   object
 2   product_name         6311 non-null   object
 3   category             6311 non-null   object
 4   product_description  6311 non-null   object
 5   price                6311 non-null   float64
 6   location             6311 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 345.3+ KB
None
   index                                    id  \
0      0  243809c0-9cfc-4486-ad12-3b7a16605ba9
1      1  1c58d3f9-8b93-47ea-9415-204fcc2a22e6
2      2  860673f1-57f6-47ba-8d2f-13f9e05b8f9a
3      3  59948726-29be-4b35-ade5-bb2fd7331856
4     12  5707be4f-49d9-4feb-b2c8-aa0868405c65

                                        product_name  \
0  Mirror wall art | in Wokingham, Berkshire | Gu...
1  Stainless Steel Food Steamer | in Inverness, H...
2  Sun loungers | in Skegness, Lincolnshire | Gum...
3  Coffee side table from Ammunition ammo box hai...
4  Spotlights | in Newent, Gloucestershire | Gumtree

                                            category  \
0  Home & Garden / Dining, Living Room Furniture ...
1              Home & Garden / Other Household Goods
2  Home & Garden / Garden & Patio / Outdoor Setti...
3  Home & Garden / Dining, Living Room Furniture ...
4              Home & Garden / Other Household Goods

                                 product_description  price  \
0  Mirror wall art. Posted by Nisha in Dining, Li...    5.0
1  Morphy Richard’s (model no 48755)Stainless ste...   20.0
2  I have 2 of these - collection only as I don’t...   20.0
3  Great reclaimed army ammunition box used as co...  115.0
4  New in box not needed Spotlights . Posted by s...    9.0

                  location
0     Wokingham, Berkshire
1      Inverness, Highland
2   Skegness, Lincolnshire
3       Radstock, Somerset
4  Newent, Gloucestershire

In [15]:
data_products.df["id"]

0       243809c0-9cfc-4486-ad12-3b7a16605ba9
1       1c58d3f9-8b93-47ea-9415-204fcc2a22e6
2       860673f1-57f6-47ba-8d2f-13f9e05b8f9a
3       59948726-29be-4b35-ade5-bb2fd7331856
4       5707be4f-49d9-4feb-b2c8-aa0868405c65
                        ...
6306    c4148656-78a9-4f3e-b393-134fdc5ef900
6307    564e3411-768d-4250-a624-b119d696f103
6308    2b0a652b-46a2-4297-b619-5efeeb222787
6309    719fd40a-870e-4144-b324-55dff2e66fb4
6310    86d1806b-5575-4a7e-9160-f24f12be6c95
Name: id, Length: 6311, dtype: object

In [3]:


data_products.df[['cat:0','cat:1','cat:2']] = data_products.df["category"].apply(lambda x: pd.Series(str(x).split(' / ',2)))

In [4]:
cat0_keys = data_products.df['cat:0'].unique()
cat0_encoder = {}
cat0_decoder = {}
for _ in range(len(cat0_keys)):
    cat0_encoder[cat0_keys[_]] = _
    cat0_decoder[_] = cat0_keys[_]

In [25]:
data_images =  DataTabular('Images.csv')
data_images.df.head()
df_with_category = pd.merge(data_images.df,data_products.df,left_on = 'product_id',right_on ='id',how='inner')
df_with_category.info()
df_with_category.rename(columns={'id_x':'label'})
df_with_category.to_csv('training_data.csv')

ASCII
<class 'pandas.core.frame.DataFrame'>
Int64Index: 11122 entries, 0 to 11121
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0                        11122 non-null  object
 1   id_x                 11122 non-null  object
 2   product_id           11122 non-null  object
 3   index                11122 non-null  int64
 4   id_y                 11122 non-null  object
 5   product_name         11122 non-null  object
 6   category             11122 non-null  object
 7   product_description  11122 non-null  object
 8   price                11122 non-null  float64
 9   location             11122 non-null  object
 10  cat:0                11122 non-null  object
 11  cat:1                11122 non-null  object
 12  cat:2                6768 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.2+ MB

,,label,product_id,index,id_y,product_name,category,product_description,price,location,cat:0,cat:1,cat:2
0,0,912bb259-3ad9-457b-9db1-ce1da9016057,5f5f57d7-778f-4336-bb10-b43863418c8c,19,5f5f57d7-778f-4336-bb10-b43863418c8c,"King Size Pine Bedframe | in Hove, East Sussex...",Home & Garden / Beds & Bedroom Furniture / Oth...,"Pine king sized Bedframe, originally from Ikea...",100.0,"Hove, East Sussex",Home & Garden,Beds & Bedroom Furniture,Other Bedroom Furniture & Accs
1,1,b166d305-b852-4bdd-83f4-465b20da94fa,5f5f57d7-778f-4336-bb10-b43863418c8c,19,5f5f57d7-778f-4336-bb10-b43863418c8c,"King Size Pine Bedframe | in Hove, East Sussex...",Home & Garden / Beds & Bedroom Furniture / Oth...,"Pine king sized Bedframe, originally from Ikea...",100.0,"Hove, East Sussex",Home & Garden,Beds & Bedroom Furniture,Other Bedroom Furniture & Accs
2,2,68f5a29d-0075-4d60-81c1-ab684a82e50c,c2c8949f-3cde-4651-a234-4a4a1b2a9ad4,20,c2c8949f-3cde-4651-a234-4a4a1b2a9ad4,Decorative black iron water pump and sump pump...,Home & Garden / Garden & Patio / Outdoor Setti...,Working water pump and sump pump. Has been use...,100.0,"Loughborough, Leicestershire",Home & Garden,Garden & Patio,Outdoor Settings & Furniture
3,3,f6a309d7-d247-446a-9b5e-aceefdd4334d,c2c8949f-3cde-4651-a234-4a4a1b2a9ad4,20,c2c8949f-3cde-4651-a234-4a4a1b2a9ad4,Decorative black iron water pump and sump pump...,Home & Garden / Garden & Patio / Outdoor Setti...,Working water pump and sump pump. Has been use...,100.0,"Loughborough, Leicestershire",Home & Garden,Garden & Patio,Outdoor Settings & Furniture
4,4,2c2b3a6f-15b3-4289-937a-15482d9f5781,8292aa4e-7f1b-4655-bf0e-f1f2c9e3ffaf,21,8292aa4e-7f1b-4655-bf0e-f1f2c9e3ffaf,"Marquee & Gazebo Hire | in Downpatrick, County...",Home & Garden / Garden & Patio / Outdoor Setti...,Ranges of sizes available Long and short term ...,10.0,"Downpatrick, County Down",Home & Garden,Garden & Patio,Outdoor Settings & Furniture
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11117,12599,cdec1c5c-c4b1-42db-afbe-3fa68ea4b87d,2b0a652b-46a2-4297-b619-5efeeb222787,11315,2b0a652b-46a2-4297-b619-5efeeb222787,"Oculus quest 2 256gb | in Montrose, Angus | Gu...",Video Games & Consoles / Other Video Games & C...,Pick up only £250Comes with two pistols stocks...,250.0,"Montrose, Angus",Video Games & Consoles,Other Video Games & Consoles,NaN
11118,12600,dc99e40f-6b15-494d-9fb7-f0d02e9781f9,719fd40a-870e-4144-b324-55dff2e66fb4,11316,719fd40a-870e-4144-b324-55dff2e66fb4,Logitech driving force shifter | in Carrickfer...,Video Games & Consoles / Video Game Accessorie...,Bought at christmas from currys retailing at £...,30.0,"Carrickfergus, County Antrim",Video Games & Consoles,Video Game Accessories,Other Video Game Accessories
11119,12601,c8488028-bf07-4258-a4c2-56d2fe387835,719fd40a-870e-4144-b324-55dff2e66fb4,11316,719fd40a-870e-4144-b324-55dff2e66fb4,Logitech driving force shifter | in Carrickfer...,Video Games & Consoles / Video Game Accessorie...,Bought at christmas from currys retailing at £...,30.0,"Carrickfergus, County Antrim",Video Games & Consoles,Video Game Accessories,Other Video Game Accessories
11120,12602,c6113145-89c8-47cd-9211-38f29d016cc7,86d1806b-5575-4a7e-9160-f24f12be6c95,11317,86d1806b-5575-4a7e-9160-f24f12be6c95,"20 GAMES & NINTENDO SWITCH BUNDLE | in Poole, ...",Video Games & Consoles / Games,Nintendo Switch console only used 2/3 times. A...,450.0,"Poole, Dorset",Video Games & Consoles,Games,NaN
11121,12603,ed2aaf88-616c-4e6b-af49-bbdf7c0fbd06,86d1806b-5575-4a7e-9160-f24f12be6c95,11317,86d1806b-5575-4a7e-9160-f24f12be6c95,"20 GAMES & NINTENDO SWITCH BUNDLE | in Poole, ...",Video Games & Consoles / Games,Nintendo Switch console only used 2/3 times. A...,450.0,"Poole, Dorset",Video Games & Consoles,Games,NaN

{0: 'Home & Garden',
 1: 'Baby & Kids Stuff',
 2: 'DIY Tools & Materials',
 3: 'Music, Films, Books & Games',
 4: 'Phones, Mobile Phones & Telecoms',
 5: 'Clothes, Footwear & Accessories',
 6: 'Other Goods',
 7: 'Health & Beauty',
 8: 'Sports, Leisure & Travel',
 9: 'Appliances',
 10: 'Computers & Software',
 11: 'Office Furniture & Equipment',
 12: 'Video Games & Consoles'}